html{
  scroll-behavior: smooth;
}

#title {
background-image: url(../images/wood.png);
    font-family: "Montserrat";

  z-index: 3;
  margin-bottom:5px;

}

.azure{
  width: 3rem
}
.fab {
  font-family: 'Orbitron', sans-serif;

}

.head1 {
  font-size: 2.5em;
  line-height: 1.5;
  color: #f8f5f1;
  padding-top: 20px;
  text-align: center;
  color:#343A40;
}
.para1{
  font-size: 1.5em;

  line-height: 2em;
  letter-spacing: 2px;
  text-rendering: optimizeSpeed;
  word-spacing: 20px;
  padding-top: 17px;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  font-family: 'Unica One', cursive;
text-align: center;
color:#343A40;
letter-spacing: 1px;
 text-transform: uppercase
}
.navcolor{
  color:#343A40;
}
.container {
  padding: 3% 3% 3% 3%;
}

.a {
  width: 150%;
  position: inherit;
  transform: rotate(30deg);
  left: 250px;
}

.navbar {
  padding-bottom:2rem;
}

.nav-item {
  padding: 15px;
  color:#343A40;
  transition: transform .2s;
}
.nav-item:hover {
  transform: scale(1.2);

}
.navbar-brand {
  font-size: 3rem;
  font-family: 'Orbitron', sans-serif;


  font-weight: bold;
  color:#343A40;

}
.nav-link{
  font-family: Ubuntu;
  letter-spacing: 2px;
  color:#343A40;
}

.navbutton {
  margin: 20px;
  font-family: Ubuntu;
}


.calus{
  background: linear-gradient(
hsl(0, 0%, 0% / 0.5),
hsl(20, 0%, 0% / 0.5) 20%
    );
}

.shadow {
  /* box-shadow:         6px 6px 6px 6px #ccc; */
border-radius: 10px;
box-shadow: 2px 2px 2px 2px black;
background-color: white;
padding: 1rem
}


/*-----------fraeures-----------*/
.title-image {
  position: absolute;
  z-index: 1;
  top: 200px;
}



#features {
  padding: 7% ;
  background-color: white;
  position: relative;
  z-index: 3;
  text-align: center;
  color:#343A40;
  letter-spacing: 1px;
  margin-bottom: 5px;

}

.textal {
    text-align: center;
    padding-top:15px;
font-family: Ubuntu;
line-height: 2em;
word-spacing: 5px;

}

.textal1 {
    text-align: center;
    padding-top:15px;
    line-height: 2em;
  word-spacing: 5px;
font-family: Ubuntu;

}

.textal2 {
    text-align: center;
    padding-top:70px;
    letter-spacing: 5px;

}
.feature-box {
  text-align: center;
  padding: 0 5% 0 5%;
}

.icon {
  color: #da7f8f;
  padding-bottom: 1rem;
}

.icon:hover {
  color: #ff8474;
}

#testimonials {
  background-color: #da7f8f;
  /* background-image: url(../images/wood.jpg); */
  text-align: center;
}

#testimonial-carousel{
background-color: #343A40;

}
.testimonial-headlines {

font-family: Ubuntu;
size:hsla(200, 100%, 100%, 0.5);
  font-size: 1.5em;
  color:#343A40;
  letter-spacing: 1.5px;
  line-height: 2em;
word-spacing: 5px;
 transition: transform 250ms;
}
.testimonial-headlines:hover {


transform: translateY(-25px);
}
.sr-only{
  color: #343A40;
}
.carousel-item {
  padding: 5% 14% 3% 14%;

}
.card{
  color: white;
  font-family: Ubuntu;
  font-size: 15px;
  letter-spacing:1.5px;

}
.caro{
  color: white;
}
.testimonial-image {
  width: 100px;
  border-radius: 100%;
  margin: 30px;
}

#press {
  background-color: #f8f5f1;
  padding: 3% 3%;
  text-align: center;
}

.press-image {
  margin: 20px;
  width: 200px;
}

#Technicalskills {
  margin: 60px;
  text-align: center;
}

h2 {
  font-family: 'Ubuntu';
  text-align: center;
  font-size: 2.5em;
  color: #f8f5f1;

}

.allapp{

/* margin: 10% */


}
.card-body {
  padding: 1%;
  margin: 10px;
}

.card-button{
  text-align: center;
  align-items: center;
  align-content: center;
}
.cards{
  background-color: #343A40;

  margin: 20px;
  border-radius: 10px;

   transition: transform 250ms;
   transition: transform .2s;
}
.cards:hover {
       transform: translateY(-10px);
        transform: scale(1.1)
}
.tweak-mastiff {
  margin-bottom: 25px;
}

.cart-body1 {
  padding: 3% 4%;
}

/*cta*/
#cta {
  text-align: center;
  background-color: #FF8882;
  padding: 30px;
  margin: 5px
}

.cta-h3 {
  font-size: 3rem;
  color: #f8f5f1;
  padding: 4% 30%;
}

.cta-btn {
  margin: 1%;
}

#footer {
  text-align: center;
  padding: 4%;
}

.footer-icons {
  padding: 2%;
}

.footer {
  text-align: center;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

   .a,.title-image {

    transform: rotate(0deg);
    width: 50%;
    position: relative;
    bottom: 200px;
    right: 200px;
  }

  .head1 {
    font-size: 2rem;
  }

  .testimonial-headlines {
    font-size: 2rem;
  }

  .press-image {
    width: 100px;
  }
}
